$indigo-color = #3f51b5
$orange-color = #ff9800


html
	scroll-behavior smooth

h1, h2, h3, h4, h5, h6
	margin 0

.brand-logo, .brand-logo img
	height 100% !important
	
.container-90
	max-width 90% !important
	width 90% !important

.u-borderB
	padding-bottom .5rem
	border-bottom 1px solid $indigo-color

.u-padding
	padding 1rem

.no-marginb
	margin-bottom 0 !important

.title__border
	position relative
	
	&:after
		background #ff5722
		content ''
		height 3px
		left 50%
		margin 0 0 0 -16px
		position absolute
		top 1.2em
		width 40px	

.header
	.header__option
		text-transform: uppercase

.main__banner
	height 500px
	width 100%
	background-size cover
	display flex
	align-items center
	justify-content center
	text-align center
	position relative
	
	&:after
		background-color #000
		content ""
		height 100%
		left 0
		opacity .6
		position absolute
		top 0
		width 100%
		z-index 2
		
	&__content
		z-index 3
		
	h1, h2, h3, h4, h5, h6
		text-transform uppercase
		letter-spacing 2px

	h1
		margin 0
		font-size 2rem	
		
	p
		font-size 1rem
		padding-left .8rem
		padding-right .8rem
		
.main__servicios
	padding 3rem 0 3rem 0
	
	.row
		margin-bottom 0
		
	.contactame__servicios
		text-align center
		margin-top 2rem

	&__title
		text-align center
		text-transform uppercase
		font-size 2.2rem
		margin-bottom 1.5rem
		margin-top 0px		
		
.main__aboutme
	padding 3rem 0
	
	.row
		margin-bottom 0px !important
		
	.btn
		display block
		margin 0 auto

	&__title
		font-size 2.2rem
		margin 0
		margin-bottom 1rem
		position relative
		text-align center
		text-transform uppercase

	&__content
		font-size 1.2rem
		margin 0 auto
		text-align left
		font-weight 300
		
	&__image
		figure
			margin 0px
			
			img
				border-radius 50%
				max-width 200px
				max-height 200px
				width 100%
				margin 0 auto
				display block
	
.servicios__item
	text-align center
	margin-top 1rem
	
	h3
		font-size 1.5rem
		margin 0		
		font-weight 300
		
		@media screen and (min-width: 992px)
			font-size 1.2rem	
		
	&__content
		p
			margin-bottom 0

	&__header
		i
			font-size 7.5rem
			color $indigo-color
		
	&:first-child
		margin-top 0px

.main__portfolio	
	margin-bottom 0px !important
	padding 3rem 0
	
	.col
		padding 0px !important
		
	&__item		
		margin 0px !important		
	
	&__image
		margin 0px !important
	
	&__content
		text-align center
		
		h3
			font-size 2rem
			margin-bottom 0
			margin-top 0
			font-weight 300
			
	&__action
		text-align center
			
		
.footer
	padding 1.5rem
	margin-bottom 0px !important
	
	@media screen and (min-width: 992px)
		padding 1.8rem

	&__copy
		font-weight 300
		text-align center
		font-size 1.2rem
		
		p
			margin 0px

	&__social
		text-align center
		&__links
			color white
			margin-right 1rem
			transition .5s
			
			span
				font-size 2.4rem			
				
			&:last-child
				margin-right 0
			
			&:hover
				color $orange-color

//Styles for pages
@import "page"