.page
	&__container
		min-height 495px
		padding 1rem
		
	&__banner
		max-height 300px
		
		p
			font-size 2rem
			text-transform uppercase
			

.about
	margin-top 2rem
	font-size 1.2rem
	
	&__title
		font-size 3rem
		text-align center
		
	&__list
		padding-left 40px
		
		li
			list-style-type disc
			
.about__message
	padding 2rem	
	text-align right
	
	&__container
		margin 0 auto
		max-width 400px
		
	.copy
		font-weight 300
		
	p
		margin 0
		font-size 1.5rem
		

.servicios
	
	&__banner
		max-height 500px
		
		p
			font-size 1.5rem